*~
*/*~
*/*/*~
*#
*.dump
*.bin

tmp

DnlinkTX/tests/*c
DnlinkTX/tests/*expanded
DnlinkTX/tests/*outfile
DnlinkTX/tests/*out
DnlinkTX/tests/compout
DnlinkTX/tests/perfout

DnlinkTX/perf/*c
DnlinkTX/perf/*expanded
DnlinkTX/perf/*outfile
DnlinkTX/perf/*out
DnlinkTX/perf/compout
DnlinkTX/perf/perfout

DnlinkTX/utils/*c
DnlinkTX/utils/*expanded
DnlinkTX/utils/*outfile
DnlinkTX/utils/*out
DnlinkTX/utils/compout
DnlinkTX/utils/perfout
DnlinkTX/perf/perf*.txt

eNodeB/*c
eNodeB/*expanded
eNodeB/*outfile
eNodeB/*out
eNodeB/compout
eNodeB/perfout
eNodeB/genFrames0_1023.dat

MAC/CompilerVS/Debug/
MAC/CompilerVS/ipch/
MAC/CompilerVS/LTE-MAC-inline.vcxproj.user
MAC/CompilerVS/LTE-MAC.opensdf
MAC/CompilerVS/LTE-MAC.sdf
MAC/CompilerVS/LTE-MAC.v11.suo
MAC/CompilerVS/LTE-MAC.v12.suo
MAC/CompilerVS/mac.out
MAC/CompilerVS/mac.outfile
MAC/CompilerVS/LTE-MAC.vcxproj.user
MAC/CompilerVS/LTE-MAC/
MAC/CompilerVS/LTE-MAC-inline/
MAC/CompilerVS/Release/
MAC/CompilerVS/x64/
MAC/rx.c
MAC/tx.c
MAC/dummy.c
MAC/Tests/Protocol/*c
MAC/Tests/Protocol/*expanded
MAC/Tests/Protocol/*outfile
MAC/Tests/Protocol/*out
MAC/Tests/Protocol/compout
MAC/Tests/Protocol/perfout

MAC/CompilerVS/LTE-MAC-test/

UplinkRX/PRACH/tests/*c
UplinkRX/PRACH/tests/*expanded
UplinkRX/PRACH/tests/*outfile
UplinkRX/PRACH/tests/*out
UplinkRX/PRACH/tests/compout
UplinkRX/PRACH/tests/perfout

UplinkRX/PRACH/perf/*c
UplinkRX/PRACH/perf/*expanded
UplinkRX/PRACH/perf/*outfile
UplinkRX/PRACH/perf/*out
UplinkRX/PRACH/perf/compout
UplinkRX/PRACH/perf/perfout

Experiments/PRACH/*c
Experiments/PRACH/*expanded
Experiments/PRACH/*outfile
Experiments/PRACH/*out
Experiments/PRACH/compout
Experiments/PRACH/perfout

MatlabTests/UplinkRX/PRACH/tests/prach.table
/UplinkRX/tests/compout
/UplinkRX/tests/perfout
/UplinkRX/tests/*out
/UplinkRX/tests/*outfile
/UplinkRX/tests/*c
/UplinkRX/tests/*expanded
/MatlabTests/UplinkRX/tests/read.m

/UplinkRX/perf/compout
/UplinkRX/perf/perfout
/UplinkRX/perf/*out
/UplinkRX/perf/*outfile
/UplinkRX/perf/*c
/UplinkRX/perf/*expanded
/UplinkRX/perf/perf*.txt


Library/C/test.c
Library/C/CompilerVS/Debug
Library/C/CompilerVS/CompilerVS
Library/C/CompilerVS/*opensdf
Library/C/CompilerVS/*sdf
Library/C/CompilerVS/*suo
Library/C/CompilerVS/*.vcxproj.user
Library/C/CompilerVS/*.out
Library/C/CompilerVS/CompilerVS-inline/
Library/C/CompilerVS/Release/
Library/C/CompilerVS/x64/


Library/Ziria/tests/compout
Library/Ziria/tests/perfout
Library/Ziria/tests/*c
Library/Ziria/tests/*expanded
Library/Ziria/tests/*outfile
Library/Ziria/tests/*out

DnlinkTX/experiment/*c
DnlinkTX/experiment/*expanded
DnlinkTX/experiment/*outfile
DnlinkTX/experiment/*out
DnlinkTX/experiment/compout
DnlinkTX/experiment/perfout

LTE-U/*c
LTE-U/*expanded
LTE-U/*outfile
LTE-U/*out
LTE-U/compout
LTE-U/perfout

Samples/*mat